body.darkmode {
    background-color: black;
    color: white;
  }
.magicstick-pic{
    height: 50px;
    width: 50px;
}
.heading{
 display:inline-block;
 font-family:"Garamond";
 font-size:25px;
 font-weight: 600;
 margin-top: 30px;
}
.container{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}
#summary-heading{
    font-family:"Impact";
    font-size:20px;
    font-weight: 600px;
}
#words{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 900;
}
#characters{
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    font-weight: 900;
}